<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6c905f0c-de84-470b-af45-0c7eca411086/resourceGroups/Grupo_1/providers/Microsoft.Web/sites/APIMinisuperAlexa</ResourceId>
    <ResourceGroup>Grupo_1</ResourceGroup>
    <ApiResourceId>/subscriptions/6c905f0c-de84-470b-af45-0c7eca411086/resourceGroups/Grupo_1/providers/Microsoft.ApiManagement/service/MinisuperZeusAPIapi/apis/MinisuperZeusAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://apiminisuperalexa.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>97f4c810-a5e2-4fc2-adb7-de9ab08cb2c1</ProjectGuid>
    <MSDeployServiceURL>apiminisuperalexa.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>APIMinisuperAlexa</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$APIMinisuperAlexa</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>